@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome.eot');
	src:url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontawesome.svg#fontawesome') format('svg'),
		url('../fonts/fontawesome.woff') format('woff'),
		url('../fonts/fontawesome.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

*{
	margin:0px;
	padding:0px;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    /*color: #47a3da;*/
	

}

h1,h2,h3,h4,h5,h6{
	color: #47a3da;;
}


/* General styles for
 all menus */
.cbp-spmenu {
	background: #47a3da;
	position: fixed;
}

.cbp-spmenu h3 {
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
}

.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
	color: #f0f0f0;
	text-decoration: none;
}

.cbp-spmenu a:hover {
	background: #258ecd;
}

.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}

.cbp-spmenu-vertical {
	width: 20%;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid #258ecd;
	padding: 1em;
}

/*Header*/

header{
	width:70%;
	height:80px;
	margin:auto;
	margin-left:20%;
	padding:10px;
	color: #47a3da;
}


header h1 {
font-size: 2.125em;
line-height: 1.3;
margin: 0 0 0.6em 0;
float: left;
font-weight: 400;
}

header > span {
	display: block;
	position: relative;
	z-index: 9999;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
}
header nav {
	float: right;
	text-align: center;
}
header a{
	font-weight: 700;
	padding: 1em 2em;
	color: #999;
	display: inline-block;
	text-decoration: none;
}

header a:hover{
	font-weight: 700;
	padding: 1em 2em;
	color: #47a3da;
	display: inline-block;
	text-decoration: none;
}

a{
	display: inline-block;
	text-decoration: none;
}

#main{
	width:77%;
	height:80px;
	margin:auto;
	margin-left:20%;
	padding:10px;
}

.gridster li{
	word-wrap:break-word;
	list-style: none;
	background:#47a3da;
	color: #fff;
	
}

.gridster li:hover{
	word-wrap:break-word;
	list-style: none;
	background:#0089ec;
	color: #fff;
	
}
.gridster li h2{
    padding:10px;
	margin:auto;
	color:#fff;
}

#tabs{

    width:90%
}

/*#tabs li{
	list-style: none;
	display: inline-block;
	padding:10px;
	margin:0px;
}

#tabs ul a.selected {
	margin-bottom: 0;
	color: #fff;
	background:#47a3da;
	border-bottom: 1px solid snow;
	cursor: default;
	padding:10px;
}

#tabs ul a {
	font-weight: 700;
	padding: 1em 2em;
	color: #999;
	display: inline-block;
	text-decoration: none;
	padding:10px;
}*/

.button {
	display: inline-block;
	border: 2px solid #47a3da;
	background: #47a3da;
	color: #ffffff;
	text-decoration: none;
	padding: .67em 1.25em;
}
.button:hover{
	display: inline-block;
	border: 2px solid #0089ec;
	background: #0089ec;
	color: #ffffff;
	text-decoration: none;
	padding: .67em 1.25em;
}

#tab2 input[type="text"]{
	width:90%;
}

#tab3 input[type="text"]{
	width:90%;
}

#tab4 input[type="text"]{
	width:90%;	
}

 input[type="text"],input[type="password"]{
	padding:7px 10px;
	color:#777;
	width:90%;
	border-color:#777;
	border-top:0px;
	border-left:0px;
	border-right:0px;
}

#content {
	width:90%
}

select{
	margin:10px 0px 10px 0px;
	padding:7px 10px;
	color:#777;
	width:70%;
}
.padmargin1{
	margin:10px 0px 10px 0px;
	padding:7px 10px;
}

.floatr{
	float:right;
}

.floatl{
	float:left;
}

.divf{
	width:50%;
}

.divfull{
	width:100%;
}

.hide{
	display:none;
}

.lessfont{
	font-size:70%;
}

.invicible input[type=text]{

}
.margintoplogs{
	margin-top:15%;

}
.alert {
float: left;
margin: 0 0 0 20px;
padding: 3px 10px;
position: relative;
color: #FFF;
border-radius: 3px 4px 4px 3px;
background-color: #CE5454;
max-width: 170px;
white-space: pre;
z-index: 1;

vertical-align: baseline;
}

.alert::after {
content: '';
display: block;
height: 0;
width: 0;
border-color: transparent #CE5454 transparent transparent;
border-style: solid;
border-width: 11px 7px;
position: absolute;
left: -13px;
top: 1px;
}

.alert {
float: left;
margin: 0 0 0 20px;
padding: 3px 10px;
position: relative;
color: #FFF;
border-radius: 3px 4px 4px 3px;
background-color: #CE5454;
max-width: 170px;
white-space: pre;
z-index: 1;
}

.alert {
float: none;
clear: left;
margin: 0;
padding: 0 5px;
border-radius: 0 0 3px 3px;
max-width: 100%;
height: 22px;
line-height: 1.8em;
}


#tabs ul
{
list-style-type:none;
margin:0;
padding:0;
}
#tabs li
{
display:inline;
}

#tabs li a
{
	padding: 5px 15px;
	color:#999;	
}

.present
{
	color:#47a3da;
	font-weight:bold;
	border-bottom:#47a3da;
	border-bottom-style:solid;
	border-bottom-width:medium;
}

textarea{
	border:0px;
	font-family: inherit;
	font-size: 16px;
	width:100%;
}

.grey{
    color:999;
}