<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>com.enb.servlets.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enb</servlet-name>
        <servlet-class>com.enb.servlets.enb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.enb.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>com.enb.servlets.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.enb.servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View</servlet-name>
        <servlet-class>com.enb.servlets.View</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logs</servlet-name>
        <servlet-class>com.enb.servlets.Logs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateEmail</servlet-name>
        <servlet-class>com.enb.servlets.ValidateEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidatePassword</servlet-name>
        <servlet-class>com.enb.servlets.ValidateProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>com.enb.servlets.Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View</servlet-name>
        <url-pattern>/View</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enb</servlet-name>
        <url-pattern>/enb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logs</servlet-name>
        <url-pattern>/Logs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateEmail</servlet-name>
        <url-pattern>/ValidateEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidatePassword</servlet-name>
        <url-pattern>/ValidatePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
